*{
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    background-color: rgb(9, 73, 9);
    justify-content: space-around;
    color: rgb(154, 224, 154);
    height: 50px;
    align-items: center
}

nav .logo {
    font-family: ; "Saira Condensed", sans-serif;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    color: rgb(154, 224, 154);
    text-decoration: none;

}

nav ul li a:hover {
    color: rgb(209, 231, 209);
}

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;

}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer ;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color:  rgb(154, 224, 154);
    border-radius: 3px;
    transition: all 0.3s;
}

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;

}

.menu-toggle span:nth-child(3) {
    transform-origin: 0 0;

}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 0;
}



.menu-toggle input:checked ~ span:nth-child(2) {
    background-color:rgb(207, 40, 40);
    transform: rotate(180deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    background-color: rgb(228, 81, 81);
    transform: rotate(-180deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    background-color: rgb(223, 109, 109);
    transform: rotate(-180deg) translate(-1px, 0);
}




@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
    
}


@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color:  rgb(30, 122, 30);
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }
    
    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }

}

